APP_ENV=local
APP_URL=http://localhost:8000
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=lorluean_shop_db
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
APP_TIMEZONE=Asia/Bangkok
SLIP2GO_BASE_URL=https://connect.slip2go.com
SLIP2GO_API_KEY=
